@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* .expendable-menu .pp{
    background-image  : url("../symbols-images/Group.svg");
    background-size: cover;

} */

/* Scrollbar */
/* body{
    overflow-y: scroll;
} */

/* Background Image */
.background-image{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

/* Rectangle */
.background-image .rectangle{
    z-index: 1;
}

/* Tape image */
.background-image .tape{
    opacity: 0.50 ;
}

/* Contact details button */
.background-image .contact_details{
    /* height: auto; */
    position: absolute;
    top: 15%;
    /* margin-left: auto;
    margin-right: auto; */
    border-spacing: 3px;
    right: 4%;
    z-index: 1;
    background-color: white;
    border-color: #572C57;
    border-radius: 30px;
    font-family: 'Staatliches', cursive;   
    font-size: 30px;   
    color: #572C57; 
    width: 200px;


}


/* For the Expendable sidebar  */
.expendable-menu{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FEE5A2;
    overflow-x: hidden;
    padding-top: 16px;
  }

/* sidebar buttons */
.expendable-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    display: flex;
    
}

/* Profile Button */
.expendable-menu .profile_button{
    position: relative;
    top: 100px;
}

.content {
    position: absolute;
    top: 30px;
    left: 20%;
    font-family: 'Staatliches', cursive;   
    color: #A06092;
    font-size: 64px;

    /* transform: translate(30%,0); */
    /* text-align: center; */
}

.content .heading{
    position: fixed;
    left: 30%;
    font-family: 'Staatliches', cursive;   
    color: #A06092;
    font-size: 64px;

    /* transform: translate(30%,0); */
    /* text-align: center; */
}