@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* .expendable-menu .pp{
    background-image  : url("../symbols-images/Group.svg");
    background-size: cover;

} */

/* Scrollbar */
body{
    overflow-y: scroll;
}

/* Background Image */
.background-image{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

/* Rectangle */
.background-image .rectangle{
    z-index: 1;
}

/* Tape image */
.background-image .tape{
    opacity: 0.50 ;
}

/* Contact details button */
.background-image .contact_details{
    /* height: auto; */
    position: absolute;
    top: 15%;
    /* margin-left: auto;
    margin-right: auto; */
    right: 25%;
    z-index: 1;
    background-color: white;
    border-color: #572C57;
    border-radius: 30px;
    font-family: 'Staatliches', cursive;   
    font-size: 30px;   
    color: #572C57; 
    width: 200px;
    border-spacing: 3px;

}

/* Login button */
.background-image .authentication{
    /* height: auto; */
    position: absolute;
    top: 15%;
    /* margin-left: auto;
    margin-right: auto; */
    border-spacing: 3px;
    right: 4%;
    z-index: 1;
    background-color: white;
    border-color: #572C57;
    border-radius: 30px;
    font-family: 'Staatliches', cursive;   
    font-size: 30px;   
    color: #572C57; 
    width: 200px;


}


/* For the Expendable sidebar  */
.expendable-menu{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FEE5A2;
    overflow-x: hidden;
    padding-top: 16px;
  }

/* sidebar buttons */
.expendable-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    display: flex;
    
}

/* Profile Button */
.expendable-menu .profile_button{
    position: relative;
    top: 100px;
}

/* Page content */
.content .welcome_text_2 br{
    margin: 10px 0;
    line-height: 5%;
}

/* Main  */
.content {
    position: fixed;
    top: 80px;
    left: 300px;
    font-family: 'Staatliches', cursive;   
}

/* Text */
.content .welcome_text_1{
    font-size: 80px;
    
margin-bottom:0;
}

.content .welcome_text_2{
    font-size: 100px;
    color: #A06092;
    margin : 0; padding-top:0;  
    margin-bottom:0;

    font-size: 110px;
}

/* Know More button */
.content .description{
    position: relative;
    top : 50px;
    background-color: white;
    border-color: #572C57;
    border-radius: 30px;
    font-family: 'Staatliches', cursive;   
    font-size: 30px;   
    color: #572C57; 
    width: 200px;
    margin : 0; padding-top:0;  
    
}

/* Description */
.content .objective_of_website{
    font-size: 100px;
    color: black;
    position:relative;
    top: 20px;
    font-size: 40px;
}

